@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


html, body {
	
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  }

  
   /* Navigation Bar */
  
  
  #nav {
    width: 100%;
	height: 70px;
	background-color: rgba(204,204,204,0.5);
	text-align: center;
	position: fixed;
	z-index: 10;
	
  }
  
  #nav ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	}

  #nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: block;
	padding: 7px 35px;
	transition: .7s;
	}

  #nav li a:hover{
	background: #000;
	color: #D4AF37;
	opacity: 0.5;
	}
 
 
 /* Hero Headers */
 

 .intro {
	height: 100%;
	width: 100%;
	margin: auto;	
	background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url(images/background.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: 100% 100%; 
	  
  }
  
  .intro .intro-overlay {
	display: table-cell;
	vertical-align: middle;
	width: 100%
	max-width: none;
  
  }
  
  .headers {
	text-align: center;
	margin: 0 auto;		 
    	
  }
  
 .headers h1 {
	font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 480%;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: -50px;	 
 } 
 
 .headers h2 {
	font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    font-size: 250%;
	font-weight: 500;
    padding: 0;
    margin: 70px;
    margin-bottom: 100px;
	 
 }

 
  
 /* Social Media Headers */
 
 .footer-social-icons {
    
	width: 350px;
    display:block;
	margin: auto;
	margin-bottom: -120px;
 
 }

 .social-icon {
 
    color: #fff;
 
 }

 ul.social-icons {
    
	margin-top: 10px;
 
 }

 .social-icons li {
    
	vertical-align: top;
    display: inline;
    height: 100px;
 }

 .social-icons a {
   
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin: 0 10px;

}

 .fa-facebook {
    
	padding:10px 16px;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s;
    background-color: rgba(50,47,48,0.5);

 }

 .fa-facebook:hover {
    
	background-color: #3d5b99;
	box-shadow: 0 0 2.5vmin rgba(0, 0, 0, 1.8);
 
 } 

 .fa-github {
 
    padding:10px 14px;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    background-color: rgba(50,47,48,0.5);

 }

 .fa-github:hover {

	background-color:#4078c0;
	box-shadow: 0 0 2.5vmin rgba(0, 0, 0, 1.8);
	@include transition(background 250ms ease-in);
 
 }
 
 
 .fa-linkedin {
    
	padding:10px 14px;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s;
    background-color: rgba(50,47,48,0.5);
 
 }

 .fa-linkedin:hover {
 
    background-color: #0073a4;
	box-shadow: 0 0 2.5vmin rgba(0, 0, 0, 1.8);
 
 }

 .fa-envelope {
 
     padding:10px 14px;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition: .7s;
    background-color: rgba(50,47,48,0.5);

 }

 .fa-envelope:hover {
 
    background-color: #D4AF37;
	box-shadow: 0 0 2.5vmin rgba(0, 0, 0, 1.8);
 
 }

 *, *:before, *:after {
 
  padding: 0;
  box-sizing: border-box;
 
 }

 .clearfix:after {
 
  content: "";
  display: table;
  clear: both;

  }
 


   
/*---------------------------------------------------------
  M E D I A   Q U E R I E S
----------------------------------------------------------- */

		@media only screen and (max-width: 768px) {

		  .hamburger {
			cursor: pointer;
			padding: 30px;
			display: block;
		  }

		  .line {
			border-bottom: 5px solid #fff;
			width: 35px;
			margin: auto;
			margin-bottom: 6px;
		  }
		  
		  .line:last-child {
			margin-bottom: 0;
		  }

		  .headers h1 {
			font-size: 320%;
		}

		  .subheading {
			font-size: 30px;
		}


		/* Our styles here */
		
		#nav li {
			width: 100%;
			border-bottom: 1px solid white;
			text-align: center;
			border-top: 1px solid white;         
			border-bottom: none;
			background: rgba(204, 204, 204, 1);
		}

		.menu {
			height: 0;
			overflow: hidden;
			transition: height 0.3s;
			margin: 0;
			padding: 0;
			margin-top:-14;
		}

		.open {
			height: 255;
		}

		}	
		  
		  
		  

		  
		  
		  
	